body{
    background-color: #FFE0E0;
}

header{
    background-color: #EE9080;
}

header nav{
    background-color: #EE9080;
}

header nav a{
    color: #FFFFFF;
    text-decoration: none;
}

header nav a:hover{
    color:#FFBBBB;
}

header nav a:active{
    color:#FF9999;
}

h2{
    color: #FFFFFF;
    background-color: rgba(240, 144, 128, .55);

    text-align: center;

    border-radius: 5px;
}

section{
    display: inline-block;
    width: 45%;
    margin: 1%;
}

figure{
    width: 300px;
    margin: 0 auto;
}

img{
     width: 300px;
}

footer{
    background-color: #EE9080;
    text-align: center;
    padding-bottom: 50px;
}

a{
    color: #FF0000;
}

a:hover{
    color:#880000;
}

a:active{ /* When clicked */
    color: #330000;
}
